In [1]:
import numpy as np
import pandas as pd

## Tum ogrencilerin bilgilerini tek bir dataframe icinde su sutunlardan olusacak sekilde birlestiriniz; 
### " Sinif_Adi, Ogrenci Adi, Dogru Sayisi, Yanlis Sayisi, Bos Sayisi" .
###  Sinava giren ogrenci sayisini hesaplayiniz.
###  Siniflarin ayri ayri Dogru yanlis bos ortalamalarini hesaplayiniz.
###  Her sinifin ayri ayri en basarili ogrencisini bulunuz.
### Tum sinavin en basarili ilk 3 ogrencisini bulunuz.
###  Siniflarin standart sapmalarini hesaplayiniz. (Dogru sayilari uzerinden)
###  Sinavin dogru yanlis ve bos ortalamalarini hesaplayiniz.

In [3]:
mind = pd.ExcelFile(r"C:\Users\Emrah\Desktop\sinif_data\py_mind.xlsx")
opinion = pd.ExcelFile(r"C:\Users\Emrah\Desktop\sinif_data\py_opinion.xlsx")
science = pd.ExcelFile(r"C:\Users\Emrah\Desktop\sinif_data\py_science.xlsx")
sense = pd.ExcelFile(r"C:\Users\Emrah\Desktop\sinif_data\py_sense.xlsx")
sinif_ismi = []
ogrenci_adi = []
dogru = []
yanlis = []
bos = []
for i in range(len(mind.sheet_names)):
    py_mind = mind.parse(i, header=None)
    sinif_ismi+=["py_mind"]
    ogrenci_adi+=[py_mind.iloc[0,0]]
    dogru+=[py_mind.iloc[-3,1]]
    yanlis+=[py_mind.iloc[-2,1]]
    bos += [py_mind.iloc[-1,1]]
    
for i in range(len(opinion.sheet_names)):
    py_opinion = opinion.parse(i, header=None)
    sinif_ismi+=["py_opinion"]
    ogrenci_adi+=[py_opinion.iloc[0,0]]
    dogru+=[py_opinion.iloc[-3,1]]
    yanlis+=[py_opinion.iloc[-2,1]]
    bos += [py_opinion.iloc[-1,1]]
    
for i in range(len(science.sheet_names)):
    py_science = science.parse(i, header=None)
    sinif_ismi+=["py_science"]
    ogrenci_adi+=[py_science.iloc[0,0]]
    dogru+=[py_science.iloc[-3,1]]
    yanlis+=[py_science.iloc[-2,1]]
    bos += [py_science.iloc[-1,1]]
    
for i in range(len(sense.sheet_names)):
    py_sense = sense.parse(i, header=None)
    sinif_ismi+=["py_sense"]
    ogrenci_adi+=[py_sense.iloc[0,0]]
    dogru+=[py_sense.iloc[-3,1]]
    yanlis+=[py_sense.iloc[-2,1]]
    bos += [py_sense.iloc[-1,1]]
    
tablo = pd.DataFrame({'Sinif Ismi': sinif_ismi,
             'Ogrenci Adi': ogrenci_adi,
             'Dogru Sayisi': dogru,
             'Yanlis Sayisi': yanlis,
             'Bos Sayisi': bos})
tablo

    Sinif Ismi   Ogrenci Adi Dogru Sayisi Yanlis Sayisi Bos Sayisi
0      py_mind  Emrullah Gul           14             6          0
1      py_mind      Osman Ay            9            11          0
2      py_mind         Ozgur            9            11          0
3      py_mind     Emrah buy            9            11          0
4      py_mind          Riza            7            12          1
5      py_mind          Zeyd           13             6          1
6      py_mind       Ufuk Do           15             2          3
7      py_mind    Mehmet A.O           10            10          0
8      py_mind       Murat Z            9            11          0
9      py_mind     Hakan Yil           14             6          0
10  py_opinion       Emrah U           13             7          0
11  py_opinion      Salih Ar           10            10          0
12  py_opinion      Murat Oz           14             6          0
13  py_opinion       Aydin D           10            10          0
14  py_opinion        Ilhami           12             8          0
15  py_opinion     Ibrahim F            9            11          0
16  py_opinion       Ensar B            6            14          0
17  py_opinion       Nazmi D           15             5          0
18  py_opinion    Mehmet Kar           13             7          0
19  py_opinion        Naim U           15             5          0
20  py_science      Dilek Ko           17             2          1
21  py_science      Zerin Oz           15             1          4
22  py_science      Beyza Ay           12             5          3
23  py_science       Esra Te           12             8          0
24  py_science       Sehri G           20             0          0
25  py_science     Emine Ser           11             6          3
26  py_science      Emine Tu           16             3          1
27  py_science     Rukiye Ay            9             7          4
28    py_sense      Ramazan            10            10          0
29    py_sense         Faruk           16             4          0
30    py_sense   Huseyin Tun           14             6          0
31    py_sense      Selcuk D            B             A          A
32    py_sense      Adnan Av           14             5          1
33    py_sense          Kaya           11             9          0
34    py_sense        Zafer            12             7          1
35    py_sense      Mehmet A           11             9          0
36    py_sense      Fikret Y           10            10          0
37    py_sense      Emrah Ak           11             9          0

In [37]:
tablo.Dogru Sayisi.replace('A', '0', inplace=True) # kalici degistirme
tablo

# !!! Bu degisikligi sonra duzeltecegim...

SyntaxError: invalid syntax (<ipython-input-37-3c4f35a84a00>, line 1)

### Sinava giren ogrenci sayisini hesaplayiniz.

In [41]:
len(tablo)

38

### Siniflarin ayri ayri Dogru yanlis bos ortalamalarini hesaplayiniz.

In [10]:
py_mind = tablo[tablo["Sinif Ismi"]=="py_mind"]    
py_opinion = tablo[tablo["Sinif Ismi"]=="py_opinion"]   
py_science =tablo[tablo["Sinif Ismi"]=="py_science"] 
py_sense = tablo[tablo["Sinif Ismi"]=="py_sense"]

#tek tek ortalama alma 
py_mind["Dogru Sayisi"].mean()
py_mind["Yanlis Sayisi"].mean()
py_mind["Bos Sayisi"].mean()

0.5

### Her sinifin ayri ayri en basarili ogrencisini bulunuz.

In [42]:
py_mind["Net"]=py_mind["Dogru Sayisi"]-py_mind["Yanlis Sayisi"]
maxi=py_mind.sort_values(by="Net", ascending=False)
maxi

C:\Users\Emrah\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Sinif Ismi   Ogrenci Adi Dogru Sayisi Yanlis Sayisi Bos Sayisi Net
6    py_mind       Ufuk Do           15             2          3  13
0    py_mind  Emrullah Gul           14             6          0   8
9    py_mind     Hakan Yil           14             6          0   8
5    py_mind          Zeyd           13             6          1   7
7    py_mind    Mehmet A.O           10            10          0   0
1    py_mind      Osman Ay            9            11          0  -2
2    py_mind         Ozgur            9            11          0  -2
3    py_mind     Emrah buy            9            11          0  -2
8    py_mind       Murat Z            9            11          0  -2
4    py_mind          Riza            7            12          1  -5

### py_mind'in en basarili ogrencisi:

In [16]:
maxi.iloc[0]

Sinif Ismi       py_mind
Ogrenci Adi      Ufuk Do
Dogru Sayisi          15
Yanlis Sayisi          2
Bos Sayisi             3
Net                   13
Name: 6, dtype: object

In [17]:
py_opinion["Net"]=py_opinion["Dogru Sayisi"]-py_opinion["Yanlis Sayisi"]
maxi=py_opinion.sort_values(by="Net", ascending=False)
maxi

C:\Users\Emrah\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Sinif Ismi Ogrenci Adi Dogru Sayisi Yanlis Sayisi Bos Sayisi Net
17  py_opinion     Nazmi D           15             5          0  10
19  py_opinion      Naim U           15             5          0  10
12  py_opinion    Murat Oz           14             6          0   8
10  py_opinion     Emrah U           13             7          0   6
18  py_opinion  Mehmet Kar           13             7          0   6
14  py_opinion      Ilhami           12             8          0   4
11  py_opinion    Salih Ar           10            10          0   0
13  py_opinion     Aydin D           10            10          0   0
15  py_opinion   Ibrahim F            9            11          0  -2
16  py_opinion     Ensar B            6            14          0  -8

### py_opinion'in en basarili ogrencisi:

In [19]:
maxi.iloc[0:2]

    Sinif Ismi Ogrenci Adi Dogru Sayisi Yanlis Sayisi Bos Sayisi Net
17  py_opinion     Nazmi D           15             5          0  10
19  py_opinion      Naim U           15             5          0  10

In [20]:
py_science["Net"]=py_science["Dogru Sayisi"]-py_science["Yanlis Sayisi"]
maxi=py_science.sort_values(by="Net", ascending=False)
maxi

C:\Users\Emrah\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Sinif Ismi Ogrenci Adi Dogru Sayisi Yanlis Sayisi Bos Sayisi Net
24  py_science     Sehri G           20             0          0  20
20  py_science    Dilek Ko           17             2          1  15
21  py_science    Zerin Oz           15             1          4  14
26  py_science    Emine Tu           16             3          1  13
22  py_science    Beyza Ay           12             5          3   7
25  py_science   Emine Ser           11             6          3   5
23  py_science     Esra Te           12             8          0   4
27  py_science   Rukiye Ay            9             7          4   2

### py_science'in en basarili ogrencisi:

In [21]:
maxi.iloc[0]

Sinif Ismi       py_science
Ogrenci Adi         Sehri G
Dogru Sayisi             20
Yanlis Sayisi             0
Bos Sayisi                0
Net                      20
Name: 24, dtype: object

### Tum sinavin en basarili ilk 3 ogrencisini bulunuz.

In [ ]:
tablo["Net"]=tablo["Dogru Sayisi"]-tablo["Yanlis Sayisi"]

### Siniflarin standart sapmalarini hesaplayiniz. (Dogru sayilari uzerinden)

In [30]:
py_mind["Dogru Sayisi"].std()

2.8067379246694513

In [38]:
py_opinion["Dogru Sayisi"].std()

2.9078437983419185

In [39]:
py_science["Dogru Sayisi"].std()

3.625307868699863

### Sinavin dogru yanlis ve bos ortalamalarini hesaplayiniz.

In [ ]:
tablo.mean()